# Ignore
*.env
.idea
.gitignore
*.eml
*.xlsx
*.xls

# Ignore specific files
howTogetEmailBase64.php
howToGetListOfExcelFiles.php
howToUpdateEmails.php
mail_config.json
allowed_emails.json
processed_emails.json